PROJECT_NAME=Smartcart
MONGO_URI=mongodb+srv://aazan3045_db_user:<db_password>@cluster0.ofpozlx.mongodb.net/smartcart?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=3fG8!kL2#xT9pQ7mR5zV1bN6eC4hJ8uW0s
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
CLIENT_URL=https://your-frontend-domain.vercel.app
VITE_API_URL=https://your-backend-domain.vercel.app/api

