PORT=5001
NODE_ENV=development
MONGO_URI=mongodb+srv://aazan3045_db_user:<db_password>@cluster0.ofpozlx.mongodb.net/smartcart?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=3fG8!kL2#xT9pQ7mR5zV1bN6eC4hJ8uW0s
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
CLIENT_URL=http://localhost:5173
ADMIN_NAME=Smartcart Admin
ADMIN_EMAIL=aazan3045@gmail.com
ADMIN_PASSWORD=korejoazan12

